{% extends 'base.html.twig' %}

{% block title %}Hello LookupController!{% endblock %}

{% block body %}
    <div>
        <form>
            <input type="search" name="search" placeholder="Rechercher..." />
            <button type="submit">Rechercher</button>
        </form>
    </div>
    <table>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
