{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Les catégories disponibles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Non de la catégorie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Consulter la liste des articles</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune catégorie disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
